[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "afv-native-testclient"]
	path = afv-native-testclient
	url = https://github.com/vatsimnetwork/afv-native-testclient
