[submodule "extern/speexdsp"]
	path = extern/speexdsp
	url = git@github.com:xpilot-project/speexdsp.git
[submodule "extern/cpp-jwt"]
	path = extern/cpp-jwt
	url = git@github.com:arun11299/cpp-jwt.git
[submodule "extern/opus"]
	path = extern/opus
	url = git@github.com:xpilot-project/opus.git
[submodule "extern/portaudio"]
	path = extern/portaudio
	url = git@github.com:xpilot-project/portaudio.git
[submodule "externals"]
	path = externals
	url = git@github.com:xpilot-project/externals.git
